# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
env/
venv/
.venv/
env_khaya/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# Environment variables
.env

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
